@import '~common/styles/settings/index.scss';

.svg {
  width: 36px;
  height: 44px;
  @media (min-width: $tablet-portrait) {
    display: block;
    margin: 0 auto $mediumGutter;
  }
}

.updateText {
  font-size: 12px;
  font-family: 'Aften Screen';
  @media (min-width: $tablet-portrait) {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 8px;
  }
}

.name {
  @media (min-width: $tablet-portrait) {
    text-align: center;
  }
}

.updatedBy {
  font-size: 12px;
  color: $third-grey;
  font-family: 'Aften Screen';
  @media (min-width: $tablet-portrait) {
    text-align: center;
  }
}

.container {
  @media (min-width: $tablet-portrait) {
    flex-direction: column;
    margin-top: $smallGutter !important;
  }
}

.section {
  color: $primary-black;
  @media (min-width: $tablet-portrait) {
    margin-left: 0;
  }
}
