.block {
  flex: 1 1 100%;
  padding: $mediumGutter;
  margin-top: $mediumGutter;
  background-color: $primary-grey;
  @media (min-width: $tablet-portrait) {
    max-width: 49%;
  }
  @media (min-width: $laptops) {
    max-width: 32%;
  }
}

.title-block {
  color: $primary-black-text;
  font-size: 16px;
  line-height: 19px;
}

.item-title {
  font-size: 14px;
}

.circle--image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
// components
