.block {
  width: 100%;
  padding: $mediumGutter;
  margin: $mediumGutter $smallGutter 0;
  background-color: $primary-grey;
  @media (min-width: $tablet-portrait) {
    width: calc(50% - 20px);
  }
  @media (min-width: $laptops) {
    width: calc(33.3% - 20px);
  }
}

.title-block {
  color: $primary-black-text;
  font-size: 16px;
  line-height: 19px;
}

.item-title {
  font-size: 14px;
}

.circle--image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
// components
