
.pvt-sm {
  padding-top: $smallGutter;
  padding-bottom: $smallGutter;
}

.pvt-md {
  padding-top: $mediumGutter;
  padding-bottom: $mediumGutter;
}

.pvt-lg {
  padding-top: $largeGutter;
  padding-bottom: $largeGutter;
}

.pht-sm {
  padding-left: $smallGutter;
  padding-right: $smallGutter;
}

.pht-md {
  padding-left: $mediumGutter;
  padding-right: $mediumGutter;
}

.pht-lg {
  padding-left: $largeGutter;
  padding-right: $largeGutter;
}
