################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
*/bin
*/obj
*/App_Data
/MvcSPA.NetCoreReact.OnBehalfClient/node_modules
