@import '~common/styles/settings/index.scss';

.mark {
  width: 20px;
  height: 20px;
  border: 1px solid $third-grey;
  background-color: $primary-white;
  border-radius: 50%;
  &:after {
    content: '';
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
    background: $third-grey;
    transform: scale(0);
    transition: all 0.2s ease-in;
  }
  &.checked:after {
    transform: scale(1);
  }
}
