@import '~common/styles/settings/index.scss';

.main {
  @media (min-width: $tablet-portrait) {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }
}

.imageContainer {
  width: 250px;
  height: 250px;
  background-image: url('https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/50869005_2009689985767139_7266709714187059200_n.jpg?_nc_cat=110&_nc_oc=AQkfLRg0cyUwhw5vjMF1a4SKqNuTLpCmdo6BgxGpnuZUozyqaprAgGqwkFnqamYoltQ&_nc_ht=scontent-frx5-1.xx&oh=2002e1d250bb221a2a2ccfb6d0011828&oe=5E1EC94A');
  background-size: 100% 100%;
  background-color: #f3d661;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  clip-path: url(#svgLogoBuble);
  z-index: -1;
  @media (min-width: $laptops) {
    width: 400px;
    height: 400px;
  }
}
