@model EpiServer.AlloyDemo.GraphAPI.Models.Blocks.O365HiBlock


<div class="span4 custom-span" style="background-color: @Model.BackgroundColor">
    <h1>@Model.HiText</h1>
    <h1 id="mail-placeholder"></h1>
    <h2>Let's get things done!</h2>
</div>

<script>
    getGraphAPIData("@Model.GraphAPIUrl", "@Model.AccessToken", graphApiJson => {
        var spanMail = document.getElementById("mail-placeholder");
        spanMail.innerHTML = graphApiJson.givenName + "!";
    });
</script>
