@import '~common/styles/settings/index.scss';

.shared {
  font-size: 12px;
  font-family: 'Aften Screen';
  color: $third-grey;
}

.svg {
  width: 26px;
  height: 30px;
}

.section {
  color: $primary-black;
}
