$primary-white: #ffffff;
$primary-grey: #ebebeb;
$secondary-grey: #f2f2f2;
$third-grey: #9b9b9b;
$primary-black: #000000;
$secondary-black: #242424;

$base-blue: #0066ff;
$base-green: #275806;
$base-yellow: #ffcc00;

$primary-black-text: #333333;
$primary-grey-text: #9b9b9b;
$secondary-black-text: #000000;
