$primary-white: #F2F2F2;
$primary-grey: #F8F8F8;
$primary-black: #000000;
$secondary-black: #242424;

$base-blue: #0066FF;
$base-yellow: #FFCC00;

$primary-black-text: #333333;
$primary-grey-text: #9B9B9B;
$secondary-black-text: #000000;