@font-face {
  font-family: 'Volte';
  src: url('~common/fonts/Volte/Volte-Regular.otf');
  font-style: normal;
  font-weight: 400;
}
// @font-face {
//   font-family: 'Volte';
//   src: url('~common/fonts/Volte/Volte-RegularItalic.otf');
//   font-style: italic, oblique;
//   font-weight: 400;
// }

@font-face {
  font-family: 'Volte';
  src: url('~common/fonts/Volte/Volte-Light.otf');
  font-style: normal;
  font-weight: 200;
}
// @font-face {
//   font-family: 'Volte';
//   src: url('~common/fonts/Volte/Volte-LightItalic.otf');
//   font-style: italic, oblique;
//   font-weight: 200;
// }

// @font-face {
//   font-family: 'Volte';
//   src: url('~common/fonts/Volte/Volte-MediumItalic.otf');
//   font-style: italic, oblique;
//   font-weight: medium;
// }

@font-face {
  font-family: 'Volte';
  src: url('~common/fonts/Volte/Volte-Semibold.otf');
  font-style: normal;
  font-weight: 600;
}
// @font-face {
//   font-family: 'Volte';
//   src: url('~common/fonts/Volte/Volte-SemiboldItalic.otf');
//   font-style: italic, oblique;
//   font-weight: 600;
// }

@font-face {
  font-family: 'Volte';
  src: url('~common/fonts/Volte/Volte-Bold.otf');
  font-style: normal;
  font-weight: 900;
}
// @font-face {
//   font-family: 'Volte';
//   src: url('~common/fonts/Volte/Volte-BoldItalic.otf');
//   font-style: italic, oblique;
//   font-weight: 900;
// }

@font-face {
  font-family: 'Aften Screen';
  src: url('~common/fonts/Aften_Screen/Aften_Screen.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Aften Screen';
  src: url('~common/fonts/Aften_Screen/Aften_Screen_Italic.ttf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'Aften Screen';
  src: url('~common/fonts/Aften_Screen/Aften_Screen_Bold.ttf');
  font-style: normal;
  font-weight: 900;
}
