@using EpiServer.AlloyDemo.GraphAPI
@model IPageViewModel<GraphApiPage>

@{
    ViewBag.Title = "Graph API";
    //Layout = "~/Views/Shared/Layouts/_LeftNavigation.cshtml";
}

<style src="~/static/css/style.css"></style>

<div class="row" style="margin: 20px 0px">
    @{
        Html.RenderNoDivContentAreaRenderer(Model.CurrentPage.MainContentArea);
    }
</div>
